<% include partials/header %>

<form action="/guest" method="post">
<label for="id"> Id of User </labe>
<input type = "number" name = "id" >
<button type = "submit"> Get by Id </button>


<% include partials/footer %>

